* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    /*移动端去掉点击显示蓝色背景问题*/
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-weight: 400;
}
